<h1>CookBook</h1>
<%= link_to 'Enviar uma receita', new_recipe_path %>
<p>Bem-vindo ao maior livro de receitas online</p>

<% @recipes.each do |recipe| %>
  <h1><%= link_to recipe.title, recipe  %></h1>
  <ul>
    <li><%= recipe.difficulty  %></li>
    <li><%= link_to recipe.recipe_type.name, recipe.recipe_type  %></li>
    <li><%= recipe.cook_time  %> minutos</li>
    <li><%= recipe.cuisine.name  %></li>
  </ul>
<% end %>


<% @cuisines.each do |cuisine| %>
  <h1><%= cuisine.name  %></h1>
  <%= link_to cuisine.name, cuisine  %>
<% end %>

<% @recipe_types.each do |recipe_type| %>
  <h1><%= recipe_type.name  %></h1>
<% end %>

<!-- < % form_for(@recipe_types) do |f| % >
  < %= f.label :name, 'Entrada'  % >
  < %= f.text_field :name % >
< % end % > -->
