<h1>CookBook</h1>
<p><%= flash[:error] %></p>
<%= link_to 'Enviar uma receita', new_recipe_path %>
<p>Bem-vindo ao maior livro de receitas online</p>

<% @recipes.each do |recipe| %>
  <h1><%= link_to recipe.title, recipe  %></h1>
  <ul>
    <li><%= recipe.difficulty  %></li>
    <li><%= recipe.recipe_type.name  %></li>
    <li><%= recipe.cook_time  %> minutos</li>
    <li><%= recipe.cuisine.name  %></li>
    <li><%= link_to 'Editar', edit_recipe_path(recipe) %></li>
    <li><%= link_to 'Deletar', recipe, method: :delete %></li>
  </ul>
<% end %>


<% @cuisines.each do |cuisine| %>
  <h1><%= cuisine.name  %></h1>
  <%= link_to cuisine.name, cuisine  %>
<% end %>

<% @recipe_types.each do |recipe_type| %>
  <h1><%= link_to recipe_type.name, recipe_type  %></h1>
<% end %>
